
*{  box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
#bann{
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    color: #fff;
    padding:;
}
.proo{
    margin-left: 40px;
    font-size: 50px;
    font-weight: 700;
    margin-top: 10px;
}

.img{
    margin-top: 5px;
  width: 100% ;
}


form{
    alignment: center;
    max-width: 500px;
    margin:auto ;
    padding:50px 20px; 
    background:#acadad  ;
    border-radius: 8px;
    transition: all 1s ease-in-out;
}
.imge{
    width: 100px;
    margin-top: 20px;
}
.ed{
    width: 450px;
    margin-top: 300px;
}
#banner .BR{
    box-shadow: 10px;
    margin-left: 400px;
    margin-right: -230px;
    padding: 8px 50 px;
    color:#fff;
    border: none;
    border-radius: 40px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);

}



input[type="text"],
input[type="email"],
input[type="password"]
{
background: rgba(255, 255, 255,1);
border-radius: 10px;
border: none;
font-size: 16px;
height: auto;
margin: 0;
outline: 0;
padding: 15px;
width: 90%;
background-color: #e8eeef;
color: #8a97a0;
box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
margin-bottom: 30px;
}
input[type="radio"],
input[type="checkbox"]{
    margin: 0 4px 8px 0;
}
select{
    padding: 6px;
    height: 31px;
    border-radius: 10px;
}
fieldset{
    margin: 30px;
    border: none;

}
label.light{
    font-weight: 300;
    display: inline;
}
input[type="submit"]{background: rgba(255, 255, 255,1);
    border-radius: 10px;
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 90%;
    background-color: #a517ba;
    color: #ffffff;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;}
button{
    padding: 19px 39px 18p 39px;
    color: #FFF;
    background-color: #a517ba;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
        width: 100%;
        border: 1px solid #a517ba;
        border-width: 1px 1px 3px;
        box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
        margin-bottom: 10px;
}
.promo{
    font-size: 50px;
    font-weight: 700;
    margin-top: 80px;
}

#footer{

    background-image: linear-gradient(to right, #a517ba, #5f1782);
    color: #fff;
}
.footer-foot{
    width: 100%;
}
.footer-box {
    width: 150px;
    margin-bottom: 20px;
}
.footer-box .fa{
    margin-right: 12px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding: top;
    border-radius: 2px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    }
.footer-box .btn-primary{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 30px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);
}




