* {box-sizing: border-box;}
body{
    background:url(5.jpg);
    background-size: 2000px;
    
  
    font-family: 'Nunito', sans-serif;
    color: #272e29;
}

h1{
    margin: 0 0 30px 0;
    color: #83eba2;
    text-align: center  ; 
}
form{
    alignment: right;
    max-width: 500px;
    margin:auto ;
    padding: 10px 20px; 
    background:#acadad  ;
    
 
    
    border-radius: 8px;
    transition: all 2s ease-in-out;
}
input[type="text"],
input[type="email"]{

background: rgba(255, 255, 255,1);
border-radius: 10px;
border: none;
font-size: 16px;
height: auto;
margin: 0;
outline: 0;
padding: 15px;
width: 90%;
background-color: #e8eeef;
color: #8a97a0;
box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
margin-bottom: 30px;
}
input[type="submit"]
{

    background: rgba(255, 255, 255,1);
    border-radius: 10px;
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 90%;
    background-color: #45ec77;
    color: #ffffff;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
    }input[type="radio"],
input[type="checkbox"]{
    margin: 0 4px 8px 0;
}
select{
    padding: 6px;
    height: 31px;
    border-radius: 10px;
}
fieldset{
    margin: 30px;
    border: none;
}
label.light{
    font-weight: 300;
    display: inline;
}
button{
    padding: 19px 39px 18p 39px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
        width: 100%;
        border: 1px solid #3ac162;
        border-width: 1px 1px 3px;
        box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
        margin-bottom: 10px;
}
@media screen and(min-width: 00px){
    form{
        max-width: 800px;
    }
}